.page-loading-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.loading-message {
  font-family: Brandon Grotesque;
  color: #676767;
}

.home-container {
  background-color: #f8f9fa;
}

.welcome-home-container {
  padding: 0 8%;
  padding-top: 5%;
}

#welcome {
  font-family: Brandon Grotesque;
  color: #676767;
  font-size: 300%;
  text-align: center;
}

.posts-container {
  padding-bottom: 2%;
}

.create-container {
  text-align: center;
}

.create-button {
  font-family: Brandon Grotesque;
  border-radius: 15px;
  margin-top: 3%;
}

.create-modal {
  border-radius: 25px;
}

.form-text {
  font-family: Brandon Grotesque;
  font-weight: 500;
  color: #676767;
}

.input-text {
  font-family: Brandon Grotesque;
  margin-top: -4%;
  margin-bottom: 10%;
}

.textarea-text {
  font-family: Brandon Grotesque;
  margin-top: -2%;
}

.form-button-container {
  text-align: center;
  margin-top: 4%;
}

.cancel-button {
  font-family: Brandon Grotesque;
  border-radius: 15px;
  background-color: #A74B4B;
  border: none;
  margin: 0 2%;
}

.cancel-button:hover {
  background-color: rgb(141, 37, 37);
}

.submit-button {
  font-family: Brandon Grotesque;
  border-radius: 15px;
  border: none;
  margin: 0 2%;
}

.back {
  color: #676767;
}

.back:hover {
  text-decoration: none;
  color: #383838;
}

#spinner2 {
  width: 50%;
}

.color-block {
  margin-top: -1vw;
  width: 50%;
  border-radius: 50px;
}

.form-avatar {
  width: 50%;
  margin-top: -1vw;
}