.info-container {
  margin-top: 4vw;
}

.subtitle {
  font-family: Brandon Grotesque;
  font-size: 275%;
  font-weight: bold;
  color: #676767;
  text-align: center;
}

.subtitle-desc {
  font-family: Brandon Grotesque;
  font-size: 120%;
  color: #676767;
  text-align: left;
  padding: 0 10%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.subtitle-italic {
  font-style: italic;
}

.anonymous-container, .table-container {
  text-align: center;
}

#anonymous-people {
  width: 75%;
  margin-bottom: 4vw;
}

#table-example {
  width: 85%;
}

.table-desc {
  font-family: Brandon Grotesque;
  font-size: 120%;
  text-align: left;
}

.table-info-container {
  margin: 4% 0;
}