#table-logo {
  width: 12vh;
}

.navlink, .navlink:hover {
  font-family: Brandon Grotesque;
  font-weight: bold;
  color: #676767;
  font-size: 120%;
  margin: 1vw 2vw 1vw 0;
  float: right;
}

.navlink:hover {
  text-decoration: underline;
}

.toggle-button:focus {
  outline-color: #676767;
}