.post-container {
  text-align: center;
  margin-top: 10%;
}

.content-container {
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  height: 650px;
  max-height: 750px;
}

.avatar-container {
  text-align: center;
  margin-left: 1%;
}

.text-container {
  overflow: scroll;
  height: 40%;
  margin-top: 4%;
  white-space: pre-wrap;
}

.comments-outer-container {
  margin-top: 5%;
}

.comments-container {
  margin: 4% 2% 2% 2%;
  text-align: center;
}

.comments-subtitle {
  font-family: Brandon Grotesque;
  font-weight: bold;
  letter-spacing: 0.5vw;
  color: #676767;
  font-size: 80%;
}

.comments {
  text-align: left;
  font-family: Brandon Grotesque;
  color: #676767;
}

.animal-icon {
  width: 20%;
  margin-top: 4%;
}

.text {
  text-align: left;
  font-family: Brandon Grotesque;
  color: #676767;
  margin: 0 10%;
}

.foot-container {
  bottom: 0;
  position: absolute;
  padding-bottom: 6%;
  text-align: center;
  z-index: 1;
}

.hand-count {
  width: 30%;
  display: inline-block;
}

.hand-count:hover {
  cursor: pointer;
}

.count-number {
  font-family: Brandon Grotesque;
  color: #676767;
  display: inline-block;
  margin-left: 10%;
}

.left-arrow, .right-arrow {
  width: 15px;
  margin-top: 4vh;
}

.left-arrow:hover, .right-arrow:hover {
  cursor: pointer;
}

.comment-icon {
  width: 30%;
}

.comment-icon:hover {
  cursor: pointer;
}

.comment-title {
  font-family: Brandon Grotesque;
  font-weight: bold;
  color: #676767;
  font-size: 125%;
}

.comment-box {
  font-family: Brandon Grotesque;
  color: #676767;
  margin-top: -6%;
  resize: none;
}

.popover-comment {
  border-radius: 20px;
  padding: 1%;
}

.button-submit-container {
  text-align: center;
  margin-top: 5%;
}

.comment-text-container {
  overflow: scroll;
  height: 120px;
}